/*CSS RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

/*CSS VARIABLES*/
:root{
    --navbar-height: 59px;
}

/*NAVIGATION BAR*/
#navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    top: 0px;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    opacity: 50%;
}
/*LOGO and IMAGE*/
#logo{
    margin: 10px 30px;
}

#logo img{
    margin: 6px 8px;
    height: 60px;
    width: 60x;
}



#navbar ul{
    display: flex;
}

#navbar ul li{
    list-style: none;
    font-size: 1.1rem;
    font-family: 'Alkatra', cursive;
}

#navbar ul li a{
    color: white;
    display: block;
    font-weight: bold;
    padding: 3px 30px;
    border-radius: 1rem;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: black;
    background-color: white;
}

/*Home Section*/
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 570px;
    justify-content: center;
    align-items: center;
}
#home::before{
    content: "";
    position: absolute;
    height: 670px;
    top: 0px;
    left: 0px;
    background: url('../bg\ home.jpg')no-repeat center center/cover;
    width: 100%;
    z-index: -1;
    opacity: 90%;
}

#home h1{
    color: white;
    text-align: center;
    font-family: 'Bree Serif', serif;
}
#home p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Bree Serif', serif;
}
/*Services Section*/

#services{
    margin: 15px;
    display: flex;
    justify-content: space-around;
}

#services .box{
    border: 2px solid brown;
    padding: 35px;
    margin: 25px 15px;
    border-radius: 23px;
    background: rgb(247, 243, 243);
    transition: all ease-in-out 0.4s;
    overflow: hidden;
}
    
.box:hover{
    transform: scale(1.05);
}

.box img{
    height: 150px;
    margin: auto;
    width: 100%;
    display: block;
} 

/*Clients Section*/
#client-section{
    border: 2px solid #ff7878;
    width: 100%;
    /* height: 41vh; */
    background-image: url('../orange-6518675_1920.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;

}

/* #client-section::before{
    content: "";
    position: absolute;
    background-image:url('../orange-6518675_1920.jpg');
    background-repeat: no-repeat;
    background-color: cover;
    height: 41%;
    width: 100%;
    z-index: -1;
    opacity: 40%;
} */

#clients{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* z-index: -1 ; */
}

.client-item{
    padding: 50px;
}


#clients img{
    height: 10rem;
    margin: auto;
    transition: all ease-in-out 0.5s;
}
#clients img:hover{
    transform: scale(1.3);
    z-index: -1 ;
}

/* Contact Section */

#contact{
    position: relative;
}

#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 60%;
    background: url('../hd-wallpaper-1468883_1920.jpg')no-repeat center center/cover;
}

#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 35px;
    margin: auto;
}

#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.8rem;
    resize: none;
    border: 2px solid rgb(243, 235, 148);
    border-radius: 5px;
}
#contact-box .form-group{
    padding: 0.5rem;
}

#contact-box form{
    width: 40%;
}

#contact-box label{
    font-size: 1.3rem;
    font-family: 'Bree Serif', serif;
}
footer{
    font-size: 1rem;
    background: rgb(0, 0, 0);
    color: white;
    padding: 9px 20px;
}

/* Utility Class */

.h-primary{
    font-size: 3rem;
    padding: 10px;
    font-family: 'Bree Serif', serif;
}
.h-secondary{
    font-size: 2.2rem;
    padding: 12px;
    font-family: 'Bree Serif', serif;
}

.btn{
    padding: 0.5rem 1.5rem;
    background-color: #f7940a;
    margin: 17px;
    font-size: 2rem;
    position: relative;
    z-index: 1;
    cursor: pointer;
    color: white;
}

.btn::before{
    content:"";
    background-color: #1f1f1f;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 1s;
    z-index: -1;
}

.btn:hover::before{
        transform: scaleX(1);
}
.centre{
    text-align: center;
}

@media (max-width: 556px)
{
    #clients .client-item img{
        height: 7rem;
        
    }
}

@media (max-width:1576px)
{
    #clients .client-item img{
        height: 8rem;
    }
}
